{
	"cmdPrefix": "!",
	"players": [
		"Marn"
	],
	"allianceName": "<NONE>",
	"guildName": "8-bit",
	"username": "AO-Killbot",
	"admins": [
		""
	],
	"botChannel": "",
	"playingGame": "Albion Killboard Bot",
	"token": ""
}